@use '../../contants/colors.scss' as *;

.navbar-container {
  position: fixed;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $bg-navbar; /* Set navbar background */
  color: white;
  padding: 0.3rem 0.3rem;
  border-radius: 7px;
  z-index: 10;
  .navbar-content{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    .logo-container{
      background-color: $bg-navbar-content;
 
      width: 4rem;
      border-radius: 4px;
      height: 2.5rem;
      .logo-content{
       
        background-color: $bg-navbar-content;
      }
    }
    .menu-container{
      border-radius: 4px;
      height: 2.5rem;
      background-color: $bg-navbar-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      padding: 0 0.4rem;
    }
  }
}
